body {
    font-family: "Montserrat Alternates", sans-serif;
    color: #000;
}

h1,
h2,
h3, h4 {
    font-family: "Pattaya", sans-serif;
}

.font-weight-600 {
    font-weight: 600;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #141615;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.navbar {
    padding: 0;
}

.logo {
    width: 150px;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:hover {
    text-decoration: underline;
}

button:focus {
    outline: 0;
}

.wrapper {
    padding-top: 105px;
}

#servises {
    background: url(img/bg2.jpg) left top no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}


.home {
    text-align: center;
    padding: 100px 0 0;
}

.home h1 {
    font-weight: 800;
    margin-bottom: 15px;
}

.home h3 {
    color: #c2342b;
    margin-top: 20px;
}

.home h4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.home h4 > img{
    width: 50px;
    height: auto;
}

#servises .services-data {
    padding-top: 32px;
}


.services ul {
    text-align: center;
    padding-left: 0;
}

.services ul>p {
    margin-bottom: 1rem;
    font-weight: 800;
    color: #c2342b;
}

.services li {
    text-decoration: none;
}

.item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.services-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 60px;
    padding-top: 110px;
}

.services-data>div {
    background: rgb(255 255 255 / 76%);
    color: #000;
    padding: 40px;
    font-weight: 500;
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    /* box-shadow: 0px 5px 25px 0px #EEEEEE; */
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
}
.services-data li {
    list-style-type: none;
    cursor: default;
    margin-bottom: 10px;
    cursor: text;
}

.services-data li:hover {
    color: #18B193;
}

.services .item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
}

.services .item ul {
    padding: 0;
}

.services .item:after {
    content: url(img/arr.png);
    position: absolute;
    left: 200px;
}

.services .item:nth-child(4):after {
    content: '';
}

.services .item img {
    width: 70px;
    height: 70px;
}

.services .item p {
    font-size: 18px;
    text-align: center;
}

.white-box {
    background: #fff;
    padding-top: 50px;
}

#contacts {
    margin-top: 50px;
    background: #F4F5F7;
}

#contacts .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.info p{
    font-weight: 500;
}

.info a {
    color: #0F2C53;
    text-decoration: none;
}

.info a:hover {
    text-decoration: none;
    color: #18B193;
}

a.phone {
    width: 250px;
    height: 50px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    line-height: 45px;
    cursor: pointer;
    border-radius: 48px;
    position: relative;
    padding-left: 20px;
}

footer a.phone {
    color: #0F2C53;
    border: 2px solid #0F2C53;
}

a.phone:before {
    content: url(img/phone-footer.svg) !important;
    position: absolute;
    left: 20px;
    top: 4px;
}

header a.phone:before {
    content: url(img/phone.svg) !important;
}

footer a.phone:before {
    content: url(img/phone-footer.svg);
}

.info a.phone:hover,
.info a.phone:focus {
    color: #18B193;
    border: 2px solid #18B193;
}

.info a.phone:hover:before {
    content: url(img/phone-hover.svg) !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url(img/close.svg);
}

iframe {
    pointer-events: all;
}

@media(max-width: 1200px) {
    section {
        background-size: cover;
    }

    section>div {
        background: #ffffff8f;
    }

    .services .item:after {
        display: none;
    }
}

@media(max-width: 600px) {
    #servises {
        background: url(img/bg4.jpg) left top no-repeat;
    }

    section>div {
        background: #ffffff8f;
    }

    section>div.services {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.56) 0%, rgba(255, 255, 255, 1) 30%);
    }


    .navbar .m-auto {
        margin: 0 !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        margin-bottom: 10px;
    }


    #contacts .info {
        justify-content: center;
        gap: 30px;
        text-align: center;
        flex-direction: column;
    }

    header .info {
        margin-top: 10px;
    }

    .navbar-collapse.collapse.show {
        height: 100vh;
        flex-direction: column-reverse;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
    }

    .white-box{
        padding-top: 0;
    }
}